{% if dynamic %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ 'Position'|trans }}</th>
          <th scope="col">{{ 'Name'|trans }}</th>
          <th scope="col">{{ 'IP'|trans }}</th>
          <th scope="col">{{ 'Players'|trans }}</th>
          <th scope="col">{{ 'Map'|trans }}</th>
          <th scope="col">{{ 'Votes'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for server in dynamic %}
            <tr>
              <th scope="row">#</th>
              <th scope="col"><a href="{{ path('server', {'sid': server.id}) }}">{{ server.hostname }}</a></th>
              <th scope="col">{{ server.address }}</th>
              <th scope="col">{{ server.players }} / {{ server.maxplayers }}</th>
              <th scope="col">{{ server.map }}</th>
              <th scope="col">0</th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% else %}
    
    <div class="alert alert-info mt-5" role="alert">
      {{ 'List is empty'|trans }}
    </div>

{% endif %}