{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="col">
<div class="card m-1">
  <div class="card-body">
    <h1 class="card-title">{{ 'Reset your password'|trans }}</h1>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        
        
         {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ 'Enter your email address and we we will send you a link to reset your password.'|trans }}
            </small>
        </div>

        <button class="btn btn-primary">{{ 'Send password reset email'|trans }}</button>
    {{ form_end(requestForm) }}
  </div>
</div>
   </div>
{% endblock %}
