<div class="d-flex justify-content-center flex-wrap">
<a href="{{ path('user_panel', {'slug': app.user.id}) }}" class="btn btn-outline-info m-1"><i class="fas fa-tachometer-alt"></i> {{ 'Dashboard'|trans }}</a>
<a href="{{ path('user_panel_server', {'slug': app.user.id}) }}" class="btn btn-outline-info m-1"><i class="fas fa-plus-circle"></i> {{ 'Add server'|trans }}</a>
<a href="{{ path('user_panel_buy', {'slug': app.user.id}) }}" class="btn btn-outline-info m-1"><i class="fas fa-shopping-cart"></i> {{ 'Buy ads'|trans }}</a>
<a href="{{ path('user_panel_wallet', {'slug': app.user.id}) }}" class="btn btn-outline-info m-1"><i class="fas fa-wallet"></i> {{ 'wallet'|trans }}</a>
<!-- <a href="{{ path('user_panel_server', {'slug': app.user.id}) }}" class="btn btn-outline-info m-1"><i class="fas fa-user-cog"></i> {{ 'Configuration'|trans }}</a> -->
</div>