{% extends 'base.html.twig' %}

{% block title %}{{ 'basket'|trans }}{% endblock %}

{% block body %}
<div class="col">
    <div class="card m-5">
      <div class="card-body">
      <h4>{{ 'user transfer'|trans }}</h4>
      {% if errormsg %}
          <div class="alert alert-danger" role="alert">
            {{ errormsg|trans }}
             <span class="float-right">
        <button id="goBack" type="button" class="btn btn-warning btn-sm">{{ 'go back'|trans }}</button>
      </span>
        </div>
        {% endif %}
        
         {% if okmsg %}
          <div class="alert alert-success" role="alert">
            <p>{{ okmsg|trans }}</p>
            <p>{{ 'send to'|trans }} <b>{{ reciver }}</b> - <b>{{ amount }}</b> {{ 'coins'|trans }}</p>
            <p><button id="goBack" type="button" class="btn btn-success btn-sm">{{ 'go back'|trans }}</button></p>
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
{% block endbody %}
<script>
$( "#goBack" ).click(function() {
  window.history.back();
});
</script>

{% endblock %} 
